<!-- views/error.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Payment Error</title>
  </head>
  <body>
    <h1>Payment Error</h1>
    <a href="/views/pay.ejs">Resend</a>
    <p><%= error %></p>
  </body>
</html>
