<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECOVILL</title>
  </head>
  <link rel="stylesheet" href="/static/style.css" />
  <body>
    <div class="container">
      <h1 class="otp">OTP VERIFICATION</h1>
      <p>Enter the OTP number sent to your email</p>
      <br />
      <br />
      <p class="error"><%=error%></p>
      <form action="/verifyOTP" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" required />
        <label for="otp">OTP:</label>
        <input type="text" name="otp" required />
        <button type="submit">Verify OTP</button>
      </form>
      <p>Didn't recieve the OTP?</p>
      <a href="/views/index.ejs">Resend</a>
      <p>use another email;</p>
    </div>
  </body>
</html>
