<!-- views/profile.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
  </head>
  <body>
    <h1>User Profile</h1>
    <% user.forEach(users => { %>
    <ul>
      <li><%= user.name %></li>
    </ul>
    <p><strong>Email:</strong> <%= user.email %></p>
    <p><strong>Address:</strong> <%= user.Address %></p>
    <p><strong>phone number:</strong> <%= user.phoneNumber %></p>
    <% }) %>
  </body>
</html>
