<!-- views/success.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Payment Successful</title>
  </head>
  <body>
    <h1>Payment Successful</h1>
    <p>Reference: <%= reference %></p>
    <a href="/views/home">Home</a>
  </body>
</html>
