<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECOVILL</title>
  </head>
  <link rel="stylesheet" href="/static/style.css" />
  <body>
    <div class="container">
      <h1 class="otp">Continue Registration</h1>
      <br />
      <br />
      <form action="/api/signup" method="post">
        <p class="error"><%=error%></p>
        <input
          class="styled-input"
          placeholder="Full Name"
          name="name"
          type="text"
        />
        <br />
        <br />
        <input
          class="styled-input"
          placeholder="Email"
          name="email"
          type="email"
        />
        <br />
        <br />
        <input
          class="styled-input"
          placeholder="08XXXXXXXXX"
          name="phoneNumber"
          type="tel"
        />
        <br />
        <br />
        <label for="cars">category</label>
        <select
          class="styled-input3"
          placeholder="category"
          name="category"
          type="text"
        >
          <option>Business</option>
          <option>School</option>
          <option>Residence</option>
          <option>Office</option>
          <option>Market</option>
        </select>
        <br />
        <br />
        <input
          class="styled-input"
          placeholder="Address"
          name="Address"
          type="text"
        />
        <br />
        <br />
        <input
          class="styled-input"
          placeholder="Zone"
          name="Zone"
          type="text"
        />
        <br />
        <br />
        <input class="styled-button" type="submit" value="SUBMIT" />
      </form>
    </div>
  </body>
</html>
